{% extends 'layouts/base.html' %} 

{% block content %}
  <h1>Project: {{project}}</h1>
  {% for task in tasks %}
    <article class="card">
      <h1>Task: {{ task.title }}</h1>
      <h2>Description: {{ task.description }}</h2>
    </article>
  {% endfor %}
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore sapiente
    beatae nemo delectus fugiat repudiandae illum consequatur ratione id culpa
    ipsam quibusdam debitis praesentium, quidem, distinctio provident consequuntur
    cupiditate deserunt.
  </p>
{% endblock %}
