{% extends 'layouts/base.html' %} 

{% block content %}
  <h1>Projects</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore sapiente
    beatae nemo delectus fugiat repudiandae illum consequatur ratione id culpa
    ipsam quibusdam debitis praesentium, quidem, distinctio provident   consequuntur
    cupiditate deserunt.
  </p>
  {% for project in projects %}
    <article class="card">
      <a href="{% url 'project_detail' project.id %}">
        <h2>{{ project.title }}</h2>
      </a>
      <p>{{ project.description }}</p>
    </article>
  {% endfor %}
{% endblock %}
